@tailwind base;

.form-label {
  @apply text-xs text-gray-800;
} 

.form-input {
  @apply bg-transparent outline-none w-full caret-blue-600 border border-gray-400 rounded-md p-2 text-sm;
}

input:disabled {
  @apply bg-gray-100 cursor-not-allowed;
}

.paragraph {
  @apply text-xs text-gray-600;
}

/* General */

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center !important;
}

small {
  @apply text-[10px] text-gray-500;
}

@tailwind components;
@tailwind utilities;
