@tailwind base;

.form-label {
  @apply text-xs text-gray-800;
}

.form-input {
  @apply bg-transparent outline-none w-full caret-blue-600 border border-gray-400 rounded-md p-2 text-sm;
}

input:disabled,
input[readonly] {
  @apply bg-gray-100 cursor-not-allowed;
}

.paragraph {
  @apply text-xs text-gray-600;
}

ul.pagination li {
  @apply text-gray-600 text-sm;
}

ul.pagination li:not(.disabled) .page {
  @apply rounded-md border-[#c1c3c7] transition-all duration-300;
  @apply w-8 h-8 mx-1 flex justify-center items-center;
}

ul.pagination li:not(.disabled) .page:hover {
  @apply bg-[#177DFF] border-[#177DFF] text-white no-underline;
}

ul.pagination li:not(.disabled).active .page {
  @apply bg-[#177DFF] border-[#177DFF] text-white no-underline;
}

/* General */

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center !important;
}

small {
  @apply text-[10px] text-gray-500;
}

@tailwind components;
@tailwind utilities;
